{% load static %}
{% load parsing_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block link %}{% endblock link %}
    
    <title>{% block title %}{% endblock title %}</title>
    
    {% block head %}{% endblock head %}
<style>
{% block style %}{% endblock style %}
</style>
</head>
<body>
    <video autoplay muted loop id="background_video">
        <source src={% static "images/background.mp4" %} type="video/mp4">
    </video>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/images/plexus-thumb.png" class="d-inline-block align-top" alt="" width="48" height="48"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/account/">Account</a>
                                </li>
    
                                {% if request.user|has_group:"Administrator" %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                        <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                                <a class="dropdown-item" href="admin/cashflow">Cashflow</a>
                                                <a class="dropdown-item" href="admin/pricesheet">Edit Price Sheet</a>
                                                <a class="dropdown-item" href="admin/site">Site Admin</a>
                                        </div>
                                    </li>
                                {% endif %}
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="fileshareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fileshare</a>
                                        <div class="dropdown-menu" aria-labelledby="fileshareDropdown">
                                                <a class="dropdown-item" href="fileshare/resources">Common Resources</a>
                                                <a class="dropdown-item" href="fileshare/download">Download</a>
                                                <a class="dropdown-item" href="fileshare/upload">Upload</a>
                                                <a class="dropdown-item" href="fileshare/webroot">Webroot Downloads</a>
                                        </div>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                                        <div class="dropdown-menu" aria-labelledby="helpDropdown">
                                                <a class="dropdown-item" href="help/docs">Documentation</a>
                                                <a class="dropdown-item" href="help/report">Report Bugs</a>
                                        </div>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="helpdeskDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Helpdesk</a>
                                        <div class="dropdown-menu" aria-labelledby="helpdeskDropdown">
                                                <a class="dropdown-item" href="helpdesk/personal-workflow">Personal Workflow</a>
                                                <a class="dropdown-item" href="helpdesk/company-workflow">Company Workflow</a>
                                        </div>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="inventoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventory</a>
                                        <div class="dropdown-menu" aria-labelledby="inventoryDropdown">
                                                <a class="dropdown-item" href="inventory/customers">Customers</a>
                                                <a class="dropdown-item" href="inventory/purchasing">Purchasing</a>
                                                <a class="dropdown-item" href="inventory/qa">Quality Assurance</a>
                                                <a class="dropdown-item" href="inventory/receiving">Receiving</a>
                                                <a class="dropdown-item" href="inventory/sales">Sales</a>
                                                <a class="dropdown-item" href="inventory/tracker">Hardware Tracker</a>
                                                <a class="dropdown-item" href="inventory/vendors">Vendors</a>
                                        </div>
                                    </li>
                </ul>
                <ul class="my-2 my-lg-0 navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-secondary" href="logout/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Error Reported:</strong> {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="content">
    {% block content %}{% endblock content %}
    </div>
<!--
    <footer>
        <center>
        <p id="footer_text">Copyright 2020-{% now "Y" %} Plexus Technologies LLC</p>
        </center>
    </footer>
-->
    <script>
        {% block script %}{% endblock script %}
    </script>
</body>
</html>
