{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'includes/head.html' %}

    {% block link %}{% endblock link %}

    <title>{% block title %}{% endblock title %}</title>

    {% block head %}{% endblock head %}
<style>
{% block style %}{% endblock style %}
</style>
</head>
<body>
    <video autoplay muted loop id="background_video">
        <source src={% static "images/background.mp4" %} type="video/mp4">
    </video>

    {% include 'includes/nav.html' %}

    {% include 'includes/error.html' %}

    <div class="content">
    {% block content %}{% endblock content %}
    </div>

    {% include 'includes/footer.html' %}

    <script>
        {% block script %}{% endblock script %}
    </script>
</body>
</html>
