{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock style %}


{% block content %}
        <div class="container">
            <br>
            <h1 class="page_header">{% block page_header %}{% endblock page_header %}</h1><br>
            {% include 'includes/breadcrumbs.html' %}
            <hr class="my-4" style="border-color: #ffffff;">
            {% block form_content %}
            {% endblock form_content %}
            <br><br><br>
        </div>

{% endblock content %}

{% block script %}
{% endblock script %}
