{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="shortcut icon" type="png/ico" href="{% static 'images/favicon.png' %}">
