{% load static %}
{% load parsing_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/images/favicon.png" class="d-inline-block align-top" alt="" width="48" height="48"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fileshareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fileshare</a>
                    <div class="dropdown-menu" aria-labelledby="fileshareDropdown">
                            <a class="dropdown-item" href="/fileshare/resources">Common Resources</a>
                            <a class="dropdown-item" href="/fileshare/download">Download</a>
                            <a class="dropdown-item" href="/fileshare/upload">Upload</a>
                            <a class="dropdown-item" href="/fileshare/webroot">Webroot Downloads</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
