<center>
<div id="pages" class="btn-group" role="group" aria-label="Page Selector">
{# Check if current page is first. If so, then disable the "go to first" button #}
{% if page_obj.number == 1 %}
    <a class="btn btn-secondary disabled"><i class="fas fa-angle-double-left"></i></a>
{% else %}
    <a class="btn btn-secondary" onclick="PreserveQuery('1'); return false;" href=""><i class="fas fa-angle-double-left"></i></a>
{% endif %}

{# Check if there's a previous page. If not, then disable "previous page" button #}
{% if page_obj.has_previous %}
    <a class="btn btn-secondary" onclick="PreserveQuery({{ page_obj.previous_page_number }}); return false;" href=""><i class="fas fa-angle-left"></i></a>
{% else %}
    <a class="btn btn-secondary disabled"><i class="fas fa-angle-left"></i></a>
{% endif %}

{# Create bottom bound for page range. #}
{# If there's more than 4 pages behind the current, display an ellipses #}
{% if page_obj.number|add:'-4' > 1 %}
    <a class="btn btn-secondary" onclick="PreserveQuery({{ page_obj.number|add:'-5' }}); return false;" href="">&hellip;</a>
{% endif %}

{# Iterate through pages and create buttons for each. Also disable the current page's button #}
{% for page in page_obj.paginator.page_range %}
    {% if page_obj.number == page %}
        <a class="btn btn-secondary active" onclick="PreserveQuery({{ page }}); return false;" href=""><strong>{{ page }}</strong></a>
    {% elif  page > page_obj.number|add:'-5' and page < page_obj.number|add:'5' %}
        <a class="btn btn-secondary" onclick="PreserveQuery({{ page }}); return false;" href=""><strong>{{ page }}</strong></a>
    {% endif %}
{% endfor %}

{# Create upper bound for page range. #}
{# If there's more than 4 pages ahead of the current, display an ellipses #}
{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <a class="btn btn-secondary" onclick="PreserveQuery({{ page_obj.number|add:'5' }}); return false;" href="">&hellip;</a>
{% endif %}

{# Check if there's a next page. If not, then disable the "next page" button #}
{% if page_obj.has_next %}
    <a class="btn btn-secondary" onclick="PreserveQuery({{ page_obj.next_page_number }}); return false;" href=""><i class="fas fa-angle-right"></i></a>
{% else %}
    <a class="btn btn-secondary disabled"><i class="fas fa-angle-right"></i></a>
{% endif %}

{# Check if current page is last. If so, then disable the "go to last" button #}
{% if page_obj.number == page_obj.paginator.num_pages %}
    <a class="btn btn-secondary disabled"><i class="fas fa-angle-double-right"></i></a>
{% else %}
    <a class="btn btn-secondary" onclick="PreserveQuery({{ page_obj.paginator.num_pages }}); return false;" href=""><i class="fas fa-angle-double-right"></i></a>
{% endif %}
</div>
</center>
<br><br>
