{% extends 'base.html' %}
{% load static %}
{% load parsing_tags %}

{% block title %}Landing{% endblock title %}

{% block style %}

.jumbotron {
    min-width: 100%;
}

{% endblock style %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <p class="lead">Your Docker-Django-Bootstrap site is working!</p>
            <hr class="my-4">
            <h5>Message of the day:</h5>
            <p><i>{{ motd }}</i></p>
        </div>
    </div>
{% endblock content %}
