{% extends 'base.html' %}
{% load static %}
{% load parsing_tags %}

{% block title %}Home{% endblock title %}

{% block style %}

.jumbotron {
    min-width: 100%;
}

{% endblock style %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <img src="{% static 'images/GreatFox.png' %}" />
            <p class="lead">Jeremy's site for miscellaneous things.</p>
            <hr class="my-4">
            <h5>Message of the day:</h5>
            <p><i>{{ motd }}</i></p>
        </div>
    </div>

    <div id="apps" class="container">
        <h2 style="color: #ffffff">Apps</h2><br>
        {% for tiles in tile_list %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {% for page, info in tiles.0.items %}
                            <h5 class="card-title">{{ page|title }}</h5>
                            <p class="card-text">{{ info.1 }}</p>
                            <a href="{% url page %}" class="btn btn-primary">Launch</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if tiles.1 %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {% for page, info in tiles.1.items %}
                            <h5 class="card-title">{{ page|title }}</h5>
                            <p class="card-text">{{ info.1 }}</p>
                            <a href="{% url page %}" class="btn btn-primary">Launch</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <br>
        {% endfor %}
        <br>
    </div>
{% endblock content %}
